body, html{
   background: #1c0726;
background: linear-gradient(90deg, rgba(28, 7, 38, 1) 0%, rgb(57, 24, 78) 35%, rgb(143, 78, 173) 100%);
overflow-x: hidden;
}


h1, h2, h6, h5, p, label, span{
    background: #9b36bd25;
background: linear-gradient(to right, #f4e1fa 0%, #d6b8e9 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


av-link {
  background: #4E2E58;
  background: linear-gradient(to right, #4E2E58 0%, #36193A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.navbar-brand .nav-item {
  background: #4E2E58;
  background: linear-gradient(to right, #4E2E58 0%, #36193A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resume {
  color: #4E2E58 !important;
  border-color: #764585 !important;
}

.resume:hover {
  background-color: #804a91 !important;
  color: white !important;
}


.btn_purple {
  border: 1px solid #caabf1;
  color: #b388eb;
  background-color: transparent;
  transition: 0.3s;
  background: linear-gradient(to right, #f1c6ff 0%, #b77dd8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn_purple:hover {
  background-color: #b388eb85;
  color: white;
  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}
 
.wapp {
  color: white;
  border: 1px solid #51e98bb2;
    background: linear-gradient(to right, #f1c6ff 0%, #b77dd8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resume {
  border: 1px solid #f8f7fa;
  color: #b388eb;
  
}

.resume:hover {
  background: none;
}


